<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-rfid-plugins" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RFIDPlugin</name>
    <js-module name="RFIDPlugin" src="www/RFIDPlugin.js">
        <clobbers target="rfidplugin" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RFIDPlugin">
                <param name="ios-package" value="RFIDPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/RFIDPlugin.swift" />
        
        <framework src="src/ios/ExternalAccessory.framework" custom="true"/>
        <framework src="src/ios/TSLAsciiCommands.framework" custom="true"/>
        
    </platform>
</plugin>
