<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-rfidplugin-plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RFIDPlugin</name>
    <js-module name="RFIDPlugin" src="www/RFIDPlugin.js">
        <clobbers target="rfidplugin" />
    </js-module>
    <description>RFID TSL plugin</description>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RFIDPlugin">
                <param name="ios-package" value="RFIDPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/RFIDPlugin.h" />
        <source-file src="src/ios/RFIDPlugin.m" />
        
        <framework src="src/ios/ExternalAccessory.framework" custom="true"/>
        <framework src="src/ios/TSLAsciiCommands.framework" custom="true"/>
        
<!--        <config-file target="*-Info.plist" parent="CFBundleURLTypes">-->
<!--            <array>-->
<!--                <dict>-->
<!--                    <key>UISupportedExternalAccessoryProtocols</key>-->
<!--                    <array>-->
<!--                        <string>com.uk.tsf.rfid</string>-->
<!--                    </array>-->
<!--                </dict>-->
<!--            </array>-->
<!--        </config-file>-->

        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
            <array>
                <string>com.uk.tsl.rfid</string>
            </array>
        </config-file>
        
    </platform>
    
</plugin>
